.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 10px;
}
.form-top{
    width: 100%;
    display: flex;
    align-items: center;
}
.form-label{
    width: 70%;
    padding: 15px 0px;
    span{
        width: 100%;
        color: var(--text-secondary);
    }
}

.form-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

@media (min-width:768px) {
    .form-bottom{
        flex-direction: row;
    }
    .form-left,.form-right{
        width: 50%;
    }
}

.form-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.form-right{
    width: 100%;
    height: 100%;
    gap: 20px;
}
.form-field{
    width: 100%;
}
.cost{
    color: var(--text-muted);
}
.input-money{
    width: 100%;
    border: 1px solid var(--text-muted);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    span{
        width: 5%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input{
        border: none;
        background:var(--bg-footer);
        width: 100%;
        outline: none;
    }
    
}
.input-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 200px;
    border-radius: 5px;
    border: 1px dashed var(--text-secondary);
    input{
        display: none;
    }
    label{
        background: var(--primary-accent);
        padding: 5px 10px;
        border-radius: 5px;
    }
}

.input-image_image{
    width: 64px;
    height: 64px;
    color: var(--text-primary);
}
.company{
    width: 98%;
}
.description{
    height: 200px;
}

.content{
    padding: 25px 0px;
}

.form-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    button{
        width: 200px;
        font-size: 20px;
    }
}
@media (min-width:768px) {
    .form-buttons{
        button{
            align-self: self-start;
        }
    }
}