.bgw{
    background: #fff;
}

.slider{
    background: url('/images/EldenRing21x9.jpg');
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.slider-game{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.slider-game_name{
    background: url('/images/Elden-Ring-Logo.png');
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
}
@media(min-width:360px) and (max-width:768px){
    .slider-game_name{
        width: 350px;
    }  
    .slider-game{
        padding-left: 50px;
    } 
}
.slider-game_price{
    color: var(--status-success);
    padding-left: 15px;
    font-size: 35px;
    font-weight: bold;
}

.slider-game_more{
    padding-left: 15px;
}
.slider-buttons{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.slider-buttons_dot{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 9999px;
    background: var(--text-primary);

}
.slider-buttons_dot-active{

    width: 15px;
    height: 15px;
    border-radius: 9999px;
    background: var(--primary-accent);
}

.search{
    display: flex;
}

.search-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--bg-main);
    border-radius: 5px;
    background-color: var(--bg-card);
}
.search-lens img{
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input{
    width: 100%;
}
.search-button{
    height: 100%;
}
.search-button_button{
    width: 100%;
    height: 100%;
    padding: 5px 20px 5px 20px;
    background-color: var(--primary-accent);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.advantages{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    color: var(--text-primary);
    border: none;
    border-right: none;
    border-left: none;  

}

@media (min-width:1920px){
    .advantages{
        grid-template-columns: repeat(4,1fr);
        border-top: 1px solid var(--text-muted);
        border-bottom: 1px solid var(--text-muted);
    } 
    .advantages-item{
        border-left: 1px solid var(--text-muted);
        padding: 20px;
    }
}

@media(min-width:768px) and (max-width:1920px){
    .advantages{
        grid-template-columns: repeat(2,1fr);
    }   
    
}



.advantages-item{
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.advantages-item:first-child{
    border-left: none;
}
.advantages-item_image img{
    width: 24px;
    height: 24px;
}

.popular-games{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.popular-games_head{
    display: flex;
    justify-content: space-between;
}
.popular-games_head-buttons{
    display: flex;
    gap: 5px;
}

.popular-games_games{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    width: 100%;
}

.popular-games_games-item{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-card);
    border-radius: 10px;
}

@media(min-width:360px){
    .advantages-item_image img{
        width: 48px;
        height: 48px;
    }
    .popular-games_games{
        grid-template-columns: repeat(5,1fr);
    }    
}


@media(min-width:360px) and (max-width:768px){
    .popular-games_games{
        grid-template-columns: repeat(2,1fr);
    }  
}

.popular-games_games-item_volume{
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}
.popular-games_games-item_content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popular-games_games-item_content-info{
    display: flex;
    justify-content: space-between;
}

.popular-games_games-item_content-rating_rating{
    display: flex;
    gap: 5px;
}
@media (min-width:360px) {
    .popular-games_games-item_content-rating{
        flex-direction: row;
    }
}
.popular-games_games-item_content-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popular-games_games-item_content-rating_rating-star{
    img{
        width: 15px;
        height: 15px;
    }
}
.popular-games_games-item_content-info_price{
    color: var(--status-success);
    display: flex;
    flex-wrap: nowrap;
}

.popular-games_games-item_content-studio{
    color: var(--text-muted);
}

.popular-games_games-item_content-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid var(--text-muted);
}
.catalog-button{
    background-color: var(--primary-accent);
}
.partners{
    display: flex;
    border-bottom: 1px solid var(--text-muted);
    border-top: 1px solid var(--text-muted);
    padding: 15px;
}
.partners-partner{
    width: 33%;
    height: 70px;
}
.nvidia{
    background: url('/images/nvidia-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.steam{
    background: url('/images/steam-logo.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.ubisoft{
    background: url('/images/ubisoft-logo.avif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width:360px){
    
}